/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.phpstorm.meta.php
/.DS_Store
/.env.testing
/.env.example
/.gitattributes
/.phpunit.cache
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/app/public
/storage/app/uploads
/storage/app/public/uploads
/storage/debugbar
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/vendor
/.vagrant
/.history
/.vscode
/.idea
/.phpstorm.meta.php

/.DS_Store
/.env.example
/.gitattributes
/.phpunit.cache
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs

/storage/app/public
/storage/app/uploads
